.crop{
    border: 5px solid #d6d6d6;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    scroll-behavior: smooth;
}

.crop img{
    vertical-align: middle;
}

.grid-main {
    display: grid;
    grid-auto-flow: column dense;
}

.grid-item{
    text-align: center;
}
.grid-image{
    width: 100%;
    height: auto;
}